<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CrearModificar</servlet-name>
        <servlet-class>Servlets.CrearModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCliente</servlet-name>
        <servlet-class>Servlets.EliminarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearModificarTrabajador</servlet-name>
        <servlet-class>Servlets.CrearModificarTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarTrabajador</servlet-name>
        <servlet-class>Servlets.EliminarTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Facturar</servlet-name>
        <servlet-class>Servlets.Facturar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarFactura2</servlet-name>
        <servlet-class>Servlets.CancelarFactura2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDetalle2</servlet-name>
        <servlet-class>Servlets.EliminarDetalle2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltrarVentas</servlet-name>
        <servlet-class>Servlets.FiltrarVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltrarVentasTrab</servlet-name>
        <servlet-class>Servlets.FiltrarVentasTrab</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearModificar</servlet-name>
        <url-pattern>/CrearModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCliente</servlet-name>
        <url-pattern>/EliminarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearModificarTrabajador</servlet-name>
        <url-pattern>/CrearModificarTrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarTrabajador</servlet-name>
        <url-pattern>/EliminarTrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Facturar</servlet-name>
        <url-pattern>/Facturar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarFactura2</servlet-name>
        <url-pattern>/CancelarFactura2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDetalle2</servlet-name>
        <url-pattern>/EliminarDetalle2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltrarVentas</servlet-name>
        <url-pattern>/FiltrarVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltrarVentasTrab</servlet-name>
        <url-pattern>/FiltrarVentasTrab</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
